body{
    background-image: url(./images/First\ Fold.png);
    background-repeat: no-repeat;
    height: 100vh;
    width: 100%;

}

.nav_bar{
    background-color: blueviolet;
    opacity: calc(0.8);
    position: fixed;
    top: 0;
    justify-content: space-between;
    align-items: center;
    display: flex;
    width: 100%;
    
}



.navbar{
    display: flex;
    width: 30%;
    justify-content: space-around;
    align-items: center;
    /* z-index: 100; */
   

}
.grid_home{
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    align-items: center;
}


    
   

.input1 [type=button]{

    background-color: rgb(220, 17, 122);
    color: aliceblue;
    width: 120px;
    height: 50px;
    border-radius: 40px;
    text-decoration:solid;
}

.button_2 [type=button]{
    background-color: aliceblue;
    font-weight:600 ;
    width: 120px;
    height: 50px;
    border-radius: 40px;
    border-color: #3e3abd;
    text-decoration:solid;
}
.grid_form{
    display: grid;
    background-color: blueviolet;
 
justify-content:flex-end ;
grid-template-columns: 1fr 1fr 1fr;
justify-content: space-around;
align-items: center;
margin-inline: auto;

height: 15%;
width: 80%;
border-radius: 25px;


}


.select{
    width: 450px;
    display: flex;
    justify-content: space-around;
}

.select select{
    
    background-color: aliceblue;
    /* width: 59%; */
    padding: 8px;
    
}
.upcoming{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: aliceblue;
}
.grid_pl{
   
    background-color: aliceblue;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    margin-left: 5%;
    
    
}
.d6{
    grid-column: 1/2;
    grid-row: 1/2;
}
.d1{
    grid-column: 2/3;
    grid-row: 1/2;
}.d2{
    grid-column: 3/4;
    grid-row: 1/2;
}.d3{
    grid-column: 1/2;
    grid-row: 2/3;
}.d4{
    grid-column: 2/3;
    grid-row: 2/3;
}.d5{
    grid-column: 3/4;
    grid-row: 2/3;
}
.bt{
    background-color: aliceblue;
    padding: 30px 60px;
}
.bt [type=button]{
    background-color: aliceblue;
    color: #3D37F1;
    font-weight:600 ;
    width: 163px;
    height: 47px;
    
    border-radius: 40px;
    border-color: #3D37F1;
    text-decoration:solid;
    display: flex;
    
    margin-inline: auto;
}
.datebox{
  display: flex;
 */
}
.dd{
    
   display: flex;
    align-items: start;
    justify-content: center;
      margin-top: 20px;
      width: 80px;
}
.join{
    background-color: #EEE1FF;
    width: 100%;
    height: 200px;;
}
.joinh{
    display: flex;
    justify-content:center;
    align-items:center;
    color: #242565;
    font: size 40px;
}
.joinp p{
    display: flex;
    justify-content:center;
    align-items:center;
    color: #6A6A6A;
}
.grid_img{
    display: grid;
    grid-template-columns: repeat(5,15%);
    object-fit: cover;
    justify-content: center;
    padding-top: 2%;
    padding-bottom: 2%;
}
.grid_img img{
height: 50px;
width: 100px;
}
.blog{
    display: flex;
    justify-content: center;
    color: #242565;
}
.blog p{
    color:#6A6A6A;
}
.grid_bl{
    width:90%;
    margin-left: 5%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: center;
    margin-top: 2%;
}
.grid_bl p{
    font-size: 10px;
}
.footer{
    background-color:#0A075F;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    justify-content: space-around;
}
.foot1{
    margin-top: 5%;
    margin-left: 5%;
    margin-right: 20%;
    margin-bottom: 5%;
}
.foot2{
    margin-top: 5%;
    margin-left: 5%;
    margin-right: 20%;
    margin-bottom: 5%;
}
.foot3{
    margin-top: 5%;
    margin-left: 5%;
    margin-right: 20%;
    margin-bottom: 5%;
}
.foot4{
    margin-top: 5%;
    margin-left: 5%;
    margin-right: 20%;
    margin-bottom: 5%;
}
.footer h4,p{
    color: aliceblue;

}
.line{
    background-color:#0A075F;
    height: 8%;
    width: 100%;

}
.line1{
    background-color: aliceblue;
    width: 80%;
    height: 1px;
   margin-inline: auto;
}
.line p{
    display: flex;
    justify-content: center;
}
/* page speakers */

.speak h1{
 background-color:rgb(217, 217, 217,0.2);
 text-align:start;
 text-shadow: #070707;
 font-family: monospace;
 padding: auto;
 width: 15%;
 height: 7%;
 position: absolute;
 
 top: 15%;
 margin-left: 6%;
}
.grid_speakers{
    
    display: grid;
    grid-template-columns: 1fr  1fr 1fr 1fr;
    width: 90%%;
    height: 70%;
    /* justify-content: space-between; */
    margin-top: 15%;
    margin-left: 5%;
}
.SP{
    border-radius: 100%;
}
.grid_speakers h5,p{
margin-left: 9%;
}
/* about us */
.about{
    margin-top: 20%;
    margin-left: 20%;
    margin-bottom: 20%;
    width: 100%;
    height: 60%;
    
   
}
.about h1{

margin-left: 10%;
background-color:rgb(217, 217, 217,0.2);
 text-align:start;
 text-shadow: #070707;
 font-family: monospace;
 width: 14%;
 height: 7%;
 padding: 2%;
 

 
}
.about p{
    background-color:rgb(217, 217, 217,0.2);
    text-align:start;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: #070707;
    width: 50%;
    padding:2%;

}
/* login  */
.login{
    width: 100%;
    height: 60%;
    margin-top: 20%;
    display: flex;
    justify-content: center;
    display: grid;
    grid-template-rows: 1fr 1fr;
}
.email{
    background-color: rgb(217, 217, 217,0.2);
    margin-left: 10px;
    border: 0;
    padding: 4px;
    width: 300px;
}
.password{
    background-color: rgb(217, 217, 217,0.2);
    margin-left: 10px;
    margin-top: 20px;
    border: 0;
    padding: 4px;
    width: 300px;
}
.em{
    background-color: rgb(217, 217, 217,0.2);
    margin-right: 52px;
    padding: 4px;
}
.pwd{
    background-color: rgb(217, 217, 217,0.2);
    margin-right: 30px;
    padding: 4px;
}
.login [type=button]{
    background-color: #F5167E;
    width: 200px;
    height: 40px;
    border-radius: 20px;
    
    font-size:x-large;
    font-family: bold;
    margin-left: 20%;
    margin-bottom: 40%;

}