body{
    background-image: url("./images/Rectangle 1.png"),url("./images/Rectangle\ 10.png") ;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100%;
    
    background-blend-mode: multiply;
}

.nav_bar{
    background-color: blueviolet;
    opacity: calc(0.8);
    position: fixed;
    justify-content: space-between;
    align-items: center;
    display: flex;
    width: 100%;
    
}



.navbar{
    display: flex;
    width: 30%;
    justify-content: space-around;
    align-items: center;
    /* z-index: 100; */

}
.A{
    grid-column: 2/3;
    grid-row: 2/3;
}.A img{
    grid-column: 1/3;
}.A h2,p{
    grid-column: 3/5;
}



.grid div{
    border: 2px solid;
   display: flex;
   flex-direction: row;
   display: grid;
   grid-template-columns: 1fr 1fr;
    justify-content: space-between;

    
   
}
.input1 [type=button]{
   
    background-color: rgb(220, 17, 122);
    color: aliceblue;
    padding: 15px 50px ;
    text-decoration:solid;
}
.tab {
    display: grid;
    background-color: blueviolet;
    border: 2px solid;
justify-content:flex-end ;
grid-template-columns: 1fr 1fr 1fr;
justify-content: space-around;
align-items: center;
margin-inline: auto;

height: 10%;
width: 80%;

}
.select{
    width: 450px;
    display: flex;
    justify-content: space-around;
}

.select select{
    
    background-color: aliceblue;
    /* width: 59%; */
    padding: 8px;
    
}
.upcoming{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: aliceblue;
}
.grid_pl{
   
    background-color: aliceblue;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    
    
}
.d6{
    grid-column: 1/2;
    grid-row: 1/2;
}
.d1{
    grid-column: 2/3;
    grid-row: 1/2;
}.d2{
    grid-column: 3/4;
    grid-row: 1/2;
}.d3{
    grid-column: 1/2;
    grid-row: 2/3;
}.d4{
    grid-column: 2/3;
    grid-row: 2/3;
}.d5{
    grid-column: 3/4;
    grid-row: 2/3;
}
.bt{
    background-color: aliceblue;
    padding: 30px 60px;
}
.bt [type=button]{
    background-color: aliceblue;
    color: #3D37F1;
    font-weight:600 ;
    width: 163px;
    height: 47px;
    
    border-radius: 40px;
    border-color: #3D37F1;
    text-decoration:solid;
    display: flex;
    
    margin-inline: auto;
}
.datebox{
  display: flex;
 */
}
.dd{
    
   display: flex;
    align-items: start;
    justify-content: center;
      margin-top: 20px;
      width: 80px;
}
.join{
    background-color: #EEE1FF;
    width: 100%;
    height: 200px;;
}
.joinh{
    display: flex;
    justify-content:center;
    align-items:center;
    color: #242565;
    font: size 40px;
}
.joinp{
    display: flex;
    justify-content:center;
    align-items:center;
    color: #6A6A6A;
}
.grid_img{
    display: grid;
    grid-template-columns: repeat(5,15%);
    object-fit: cover;
    justify-content: center;
    padding-top: 2%;
    padding-bottom: 2%;
}
.grid_img img{
height: 50px;
width: 100px;
}
.blog{
    display: flex;
    justify-content: center;
    color: #242565;
}
.blog p{
    color:#6A6A6A;
}